.popup-container {
    display: inline-block;
    position: relative;
}

/* Tooltip */

.popup-container [role="tooltip"] {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    font-size: 0.9rem;
    width: max-content;
    max-width: 12.5em;
    z-index: 5;
}

.popup-container [role="tooltip"] span {
    display: block;
    padding: 0.25rem 0.5rem;
    background: #0f0f0f;
    color: #f0f0f0;
    border-radius: 0.25rem;
    box-shadow: 0 0 3px 0 #00000066;
}

.popup-container [role="tooltip"]::before,
.popup-container [role="tooltip"]::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 100%;
    border: 0.25rem solid #0f0f0f;
    transform: translate(-50%, -50%) rotate(45deg);
}

.popup-container [role="tooltip"]::after {
    box-shadow: 0 0 3px 0 #00000066;
    z-index: -1;
}


.popup-container.hover:hover>[role="tooltip"],
.popup-container>.focused:focus+[role="tooltip"] {
    display: inline-block;
}

/* Popover */

.popup-container [role="status"] {
    display: none;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.9rem;
    width: max-content;
    max-width: 25em;
    margin-left: 0.2rem;
    z-index: 6;
}

.popup-container [role="status"] span {
    display: block;
    padding: 0.75rem 1rem;
    background: #fff;
    color: #000;
    border-radius: 0.25rem;
    box-shadow: 0 0 3px 0 #00000066;
}

.popup-container [role="status"]::before,
.popup-container [role="status"]::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    right: 100%;
    top: 50%;
    border: 0.25rem solid #fff;
    transform: translate(50%, -50%) rotate(45deg);
}

.popup-container [role="status"]::after {
    box-shadow: 0 0 3px 0 #00000066;
    z-index: -1;
}

.popup-container.open>[role="status"] {
    display: inline-block;
}

/* Switch */

[role="switch"] {
    flex-shrink: 0;
    height: 1.5em;
    vertical-align: text-bottom;
    appearance: none;
    cursor: pointer;
    width: 2.5em;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
    background-color: #3f3f3f;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 2em;
    transition: background-position .15s ease-in-out;
}

[role="switch"]:checked {
    background-color: #198754;
    background-position: right center;
}

/*************************/

.my-n2 {
    margin: -0.5rem;
}

.me-n3 {
    margin-right: -1rem;
}

.mh-15 {
    max-height: 15rem;
}